.container-fluid {
    height: 800px;
    max-height: 100%;
    background-image: url(/public/ente-nadu/background.jpg) !important;
    background-repeat: no-repeat !important;
    background-size: 100%;
    background-position: center !important;

}

.custom-input {
    width: 50%;
  }

.en-home-table {
    width: 100%;
    height: 480px;
}

.en-home-table td {
    vertical-align: middle;
    text-align: center;
}

.en-home-table img {
    width: 360px;
}

.en-page-header {
    text-align: center;
    width: 100%;
    padding-top: 30px;
}

.en-page-header-logo {
    margin: auto;
    width: 360px;
}

.en-page-footer {
    margin: 30px 0px;
    text-align: center;
}

.en-page-action {
    width: 100%;
    margin: 15px 0px;
    text-align: center;
}
.en-page-action1 {
    width: 100%;
    margin: 15px 0px;
    text-align: right;
    padding-right: 50px;
    padding-top: 10px;
}

.en-upload-file label{
    display: block;
}

#imageUpload {
    display: none;
}

#profileImage {
    cursor: pointer;
}

#profile-container {
    width: 150px;
    height: 150px;
    margin: auto;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;

}

#profile-container img {
    width: 150px;
    height: 150px;
}
@media only screen and (max-width: 767px) {
    .custom-input {
        width: 100%; 
    }
}