.container-fluid {
    height: 1000px;
    max-height: 100%;
    background-image: url(/public/ente-nadu/background.jpg) !important;
    background-repeat: no-repeat !important;
    background-size: 100%;
    background-position: center !important;

}

.custom-input {
    width: 50%;
  }

.en-home-table {
    width: 100%;
    height: 480px;
}

.en-home-table td {
    padding-top: 150px;
    vertical-align: middle;
    text-align: center;
}

.en-home-table img {
    width: 360px;
}

.en-page-header {
    text-align: center;
    width: 100%;
    padding-top: 30px;
}

.en-page-header-logo {
    margin: auto;
    width: 360px;
}

.en-page-footer {
    margin: 30px 0px;
    text-align: center;
}

.en-page-action {
    width: 100%;
    margin: 15px 0px;
    text-align: center;
}
.en-page-action1 {
    width: 100%;
    margin: 15px 1100px;
    text-align: right;
    padding-right: 10px;
    padding-top: 104px;
}

.en-upload-file label{
    display: block;
}

#imageUpload {
    display: none;
}

#profileImage {
    cursor: pointer;
}

#profile-container {
    width: 150px;
    height: 150px;
    margin: auto;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;

}

#profile-container img {
    width: 150px;
    height: 150px;
}
@media only screen and (max-width: 767px) {
    .custom-input {
        width: 100%; 
    }
    .container-fluid {
        height: 1000px;
        max-height: 100%;
        background-image: url(/public/ente-nadu/background.jpg) !important;
        background-repeat: no-repeat !important;
        background-size: 100%;
        background-position: center !important;
    
    }
    .en-home-table td {
        vertical-align: middle;
        text-align: center;
    }
    .en-page-action1 {
        width: 100%;
        margin: 150px 75px;
        text-align: right;
        padding-right: 40px;
        padding-top: 40px;
    }
}

button {
    --primary-color: #021f08;
    --secondary-color: #fff;
    --hover-color: #1d9a36;
    --arrow-width: 15px;
    --arrow-stroke: 3px;
    box-sizing: border-box;
    border: 0;
    border-radius: 20px;
    color: var(--secondary-color);
    padding: 0.8em 1.5em;
    background: var(--primary-color);
    display: flex;
    transition: 0.2s background;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
  }
  button .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  button .arrow {
    margin-top: 1px;
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
  }
  
  button .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
  }
  
  button:hover {
    background-color: var(--hover-color);
  }
  
  button:hover .arrow {
    background: var(--secondary-color);
  }
  
  button:hover .arrow:before {
    right: 0;
  }